<!-- Inicio de la barra de navegacón para la sección de información de contacto -->
<nav class="info_contacto">
    <!-- Contenedor principal que agrupa los elementos de contacto -->
    <div class="contenido_contacto">
        <!-- Menú desplegable para selecionar un país -->
        <label for="pais">Colombia</label>
        <select class="selector" name="pais" id="pais">
            <option value="">Colombia</option>
            <option value="">Canada</option>
            <option value="">Francia</option>
        </select>
        <!-- Botones o enlace hacia el portal de cliente, número de contacto  -->
        <div class="boton_clientes">Portal Clientes</div>
        <div class="boton_contacto">Contacto +57 300786****</div>
    </div>
</nav>
<!-- Fin del contenedor principal -->

<!-- Inicio de contenedor informacion  -->
<section class="info_navbar">
    <!-- Contenedor para el registro de información -->
    <div class="info_navbar_funcionalidades">
        <!-- logo, y botones de información. -->
        <img class="img_logo" src="./img/colombia.png" alt="" />
        <div class="btn_inicio">Inicio</div>
        <div class="planes">Planes y precios</div>
        <div class="producto">Productos</div>
        <div class="software">Por que Software</div>
    </div>
    <!-- Botones de para acceder a recursos y inicio de sessión -->
    <div class="inf_sesion">
        <div class="one">recursos</div>
        <div>iniciar sesion</div>
    </div>

</section>
<!-- Fin de contenedor  de recursos-->

<section class="ifo_precios">

    <h1>Optimiza tus finanzas con soluciones que se ajustan a tu presupuesto y metas empresariales.</h1>
    <h3>Planes flexibles, precios justos y resultados reales.</h3>

    <div class="contenedor_de_opciones">
        <button>Facturación Electrónica</button>
        <button>Sistema POS + Facturación</button>
        <button>Nomina Electrónica</button>
        <button>Software Administrativo</button>
        <button>Software Contable</button>
    </div>

</section>

<section class="contenedor_opciones">

    <div class="paso_a_paso">
    </div>

    <section class="facturacion" id="contendor_de_seleccion">
        <h1>Factura electrónica</h1>
        <h2>Olvídate de lo complejo: factura fácil, seguro y con apoyo cuando lo necesites y es ilimitado</h2>

        @if (buttonHideBuys()) {
        <div class="contenedor_opciones_compra">

            <span class="gratis">
                <h3>Facturación electrónica</h3>
                <h4>GRATIS</h4>
                <button>Empiza a usarlo</button>
            </span>

            <span class="mas_popular">
                <h3>Facturación electrónica <br> 24</h3>
                <h4>$ 9.075 / mes*</h4>
                <h4> $ 108.900 / año</h4>
                <button (click)="showFrom()">¡Compralo ahora!</button>
            </span>

            <span class="whatsApp"></span>
        </div>
        }
    </section>

    @if (buttonHideForm()) {
    <section class="contendor_creando_cuenta">

        <div class="contenedor_formulario_registro">

            <button (click)="hideForm()">Regresar</button>
            <!-- Formulario que nos va a permitir crear el cliente (persona o empresa que va a generar las facturas) -->
            <form id="formulario_registro" action="">
                <h2>Creando tu cuenta</h2>
                <p>Da el primer paso hacia el crecimiento de tu negocio: ingresa tus datos y explora todo lo que tiene
                    para
                    ti.
                </p>

                <div class="contenedor_info_compra">
                    <!-- Tenemos los distintos tipos de documento que el cliente tiene que seleccionar -->
                    <label for="tipoDocumento">Tipo Documento</label>
                    <select id="tipoDocumento" formControlName="tipoDocumento"
                        [ngClass]="{'is-invalid': registerForm.get('tipoDocumento')?.invalid && (registerForm.get('tipoDocumento')?.touched || submitted)}">
                        <option value="">Tipo Documento</option>
                        <option value="CC">Cédula de ciudadanía</option>
                        <option value="NIT">NIT</option>
                        <option value="PAS">Pasaporte</option>
                        <option value="CE">Cédula Extranjería</option>
                        <option value="RUT">RUT</option>
                    </select>
                    @if (registerForm.get('tipoDocumento')?.invalid && (registerForm.get('tipoDocumento')?.touched ||
                    submitted)) {
                    <div class="requerido">Este camoi es requerido</div>
                    }
                    <!-- En cada uno de los Input vamos a ingresar la informacion esencial
              para crear una sesión y poder gestionar los distintos documentos -->
                    <input formControlName="numeroIdentificacion"
                        [ngClass]="{'is-invalid': registerForm.get('numeroIdentificacion')?.invalid && registerForm.get('numeroIdentificacion')?.touched || submitted}"
                        placeholder="Número de documento">
                    @if (registerForm.get('numeroIdentificacion')?.invalid && registerForm.get('numeroIdentificacion')?.
                    touched || submitted) {
                    <div class="requerido">este campo es requerido</div>
                    }

                    <input formControlName="nombreUsuario"
                        [ngClass]="{'is-invalid': registerForm.get('nombreUsuario')?.invalid && registerForm.get('nombreUsuario')?.touched || submitted}"
                        type="text" placeholder="Nombres y Apellidos">
                    @if (registerForm.get('nombreUsuario')?.invalid && registerForm.get('nombreUsuario')?.touched ||
                    submitted) {
                    <div class="requerido">Este campo es requerido</div>
                    }

                    <input formControlName="numeroCelular"
                        [ngClass]="{'is-invalid': registerForm.get('numeroCelular')?.invalid && registerForm.get('numeroCelular')?.touched || submitted}"
                        type="text" placeholder="Celular">
                    @if (registerForm.get('numeroCelular')?.invalid && registerForm.get('numeroCelular')?.touched ||
                    submitted) {
                    <div class="requerido">Este campo es requerido</div>
                    }

                    <input formControlName="emailUsuario"
                        [ngClass]="{'is-invalid': registerForm.get('emailUsuario')?.invalid && registerForm.get('emailUsuario')?.touched || submitted}"
                        type="email" placeholder="E-mail">
                    @if (registerForm.get('emailUsuario')?.errors?.['required'] &&
                    registerForm.get('emailUsuario')?.touched || submitted){
                    <div class="requerido">Este campo es requerido</div>
                    }@else if(registerForm.get('emailUsuario')?.errors?.['required'] &&
                    registerForm.get('emailUsuario')?.touched || submitted) {
                    <div class="emailValido">Ingresa un email valido</div>
                    }

                    <input formControlName="confirmacionEmail"
                        [ngClass]="{'is-invalid': registerForm.get('confirmacionEmail')?.invalid && (registerForm.get('confirmacionEmail')?.touched || submitted) || (registerForm.get('confirmacionEmail')?.value !== registerForm.get('emailUsuario')?.value && (registerForm.get('confirmacionEmail')?.touched || submitted))}"
                        type="text" placeholder="Confirmar e-mail">
                    @if (registerForm.get('confirmacionEmail')?.invalid &&
                    registerForm.get('confirmacionEmail')?.touched || submitted) {
                    <div class="requrido">Este campo es requerido</div>
                    }@else if (registerForm.get('confirmacionEmail')?.value !==
                    registerForm.get('confirmacionEmail')?.value && (registerForm.get('confirmacionEmail')?.touched ||
                    submitted)) {
                    <div class="emailNoCoincide">Los correos no coinciden</div>
                    }

                    <input formControlName="passwordIngreso"
                        [ngClass]="{'is-invalid': registerForm.get('passwordIngreso')?.invalid && registerForm.get('passwordIngreso')?.touched || submitted}"
                        type="password" placeholder="Contraseña">
                    @if (registerForm.get('passwordIngreso')?.invalid && registerForm.get('passwordIngreso')?.touched ||
                    submitted) {
                    <div class="resquerido">Este campo es requerido</div>
                    }

                    <input formControlName="confirmacionPassword"
                        [ngClass]="{'is-invalid': registerForm.get('confirmacionPassword')?.invalid && (registerForm.get('confirmacionPassword')?.touched || submitted) || (registerForm.get('passwordIngreso')?.value !== registerForm.get('passwordIngreso')?.value && (registerForm.get('confirmacionPassword')?.touched || submitted))}"
                        type="password" placeholder="Confirmar contraeña">
                        @if (registerForm.get('confirmacionPassword')?.invalid && (registerForm.get('confirmacionPassword')?.touched || submitted)) {
                            <div class="requerido">Este campo es requerido</div>
                        }@else if (registerForm.get('confirmacionPassword')?.value !== registerForm.get('confirmacionPassword')?.value && (registerForm.get('confirmacionPassword')?.touched || submitted)) {
                            <div class="PasswordNoCoincide">Las contraseñas no coinciden</div>
                        }
                        <!-- Mensaje de error general si la forma no es válida -->
                         @if (registerForm.invalid && submitted) {
                            <span>Por favor, completa correctamente todos los campos</span>
                         }
                </div>
                <!-- Desde el Button vamos a poder enviar la informacion suministrada a nustro BackEnd
            y de hay a nuetsra DB que es MongoDB -->
                <button type="submit">Crea tu cuenta</button>

            </form>

        </div>

        <div class="info_resumen">

            <h2>Resumen de compra</h2>

            <span>Facturación electrónica</span>

        </div>

    </section>
    }

</section>